In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

In [4]:
from datetime import datetime

In [5]:
def time_ini():
    return datetime.now()
def time_fin(i):
    tim = datetime.now() - i
    return 'Time: {}'.format(tim).split('.')[0]

In [1]:
'subprocess es para simular una terminal dentro de jupyter'
import subprocess

In [8]:
'pandas es para organizar informaciòn'
# descargar el módulo Pandas
import pandas as pd

### Descargar la base (rdp_species_assignment_18.fa.gz) de datos 16S a partir de RDP taxonomic:

https://zenodo.org/record/4310151

### Descomprimir el archivo .gz

### Construir una base de datos

In [2]:
subprocess.call('makeblastdb -in db/rdp_species_assignment_18.fa -dbtype nucl -parse_seqids -out db/species_16S', shell = True)

0

### Correr Blastn localmente

In [6]:
init = time_ini()
#---------------
subprocess.call('blastn -db db/species_16S -query bacterias.txt -evalue 1E-6 -outfmt "6 qacc sacc qlen slen length qstart qend sstart send score bitscore evalue pident nident mismatch positive gaps gapopen" -max_target_seqs 1000 -max_hsps 1000 -out resultado.txt', shell = True)   
#----------------
time_fin(i = init)

'Time: 0:00:23'

### Abrimos los resultados del blastn

In [7]:
columna=["qacc", "sacc", "qlen", "slen", "length", "qstart", "qend", "sstart", "send", "score", "bitscore", "evalue", "pident", "nident", "mismatch", "positive", "gaps", "gapopen"]

In [9]:
df = pd.read_csv('resultado.txt',sep='\t',names=columna)
df

,qacc,sacc,qlen,slen,length,qstart,qend,sstart,send,score,bitscore,evalue,pident,nident,mismatch,positive,gaps,gapopen
0,ASV4922,S004502152,419,1504,419,1,419,378,796,407,752.0,0.000000e+00,99.045,415,4,415,0,0
1,ASV4922,S000690395,419,1569,419,1,419,389,807,407,752.0,0.000000e+00,99.045,415,4,415,0,0
2,ASV4922,S000690394,419,1569,419,1,419,389,807,407,752.0,0.000000e+00,99.045,415,4,415,0,0
3,ASV4922,S000690393,419,1569,419,1,419,389,807,407,752.0,0.000000e+00,99.045,415,4,415,0,0
4,ASV4922,S000690390,419,1569,419,1,419,389,807,407,752.0,0.000000e+00,99.045,415,4,415,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8998,ASV20,S002918147,398,1504,400,1,398,339,737,338,625.0,5.910000e-178,95.000,380,17,380,3,3
8999,ASV20,S002909509,398,760,399,1,398,30,428,338,625.0,5.910000e-178,94.987,379,19,379,1,1
9000,ASV20,S002446798,398,1299,399,1,398,282,679,338,625.0,5.910000e-178,94.987,379,18,379,2,2
9001,ASV20,S002446800,398,1180,399,1,398,202,599,338,625.0,5.910000e-178,94.987,379,18,379,2,2
9002,ASV20,S002446799,398,1395,399,1,398,279,676,338,625.0,5.910000e-178,94.987,379,18,379,2,2

In [10]:
df[df.qacc == 'ASV4922']

,qacc,sacc,qlen,slen,length,qstart,qend,sstart,send,score,bitscore,evalue,pident,nident,mismatch,positive,gaps,gapopen
0,ASV4922,S004502152,419,1504,419,1,419,378,796,407,752.0,0.0,99.045,415,4,415,0,0
1,ASV4922,S000690395,419,1569,419,1,419,389,807,407,752.0,0.0,99.045,415,4,415,0,0
2,ASV4922,S000690394,419,1569,419,1,419,389,807,407,752.0,0.0,99.045,415,4,415,0,0
3,ASV4922,S000690393,419,1569,419,1,419,389,807,407,752.0,0.0,99.045,415,4,415,0,0
4,ASV4922,S000690390,419,1569,419,1,419,389,807,407,752.0,0.0,99.045,415,4,415,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,ASV4922,S003281246,419,1378,418,1,418,303,720,376,695.0,0.0,96.651,404,14,404,0,0
996,ASV4922,S003281250,419,1377,418,1,418,300,717,376,695.0,0.0,96.651,404,14,404,0,0
997,ASV4922,S003281253,419,1373,418,1,418,301,718,376,695.0,0.0,96.651,404,14,404,0,0
998,ASV4922,S003281239,419,1377,418,1,418,313,730,376,695.0,0.0,96.651,404,14,404,0,0
999,ASV4922,S003281222,419,1135,418,1,418,58,475,376,695.0,0.0,96.651,404,14,404,0,0

In [ ]:
"""
Función para abrir archivos fasta
"""
def open_file(file = ''):
    fas = {}
    with open(file) as fq:
        for line in fq:
            line = line.rstrip()
            if '>' in line:
                header = line.replace('>','')
                s = ''
            else:
                s += line
            fas[header] =  s
    return fas

In [ ]:
fasta = open_file(file = 'DB/rdp_species_assignment_18.fa')

In [ ]:
nombres = {}
for i in fasta.keys():
    i = i.split(' ')
    nombres[i[0]] = i[1]

In [ ]:
nombres

In [ ]:
df['Species'] = [nombres[i] for i in df.sacc]

In [ ]:
df

In [ ]:
from collections import Counter, OrderedDict

In [ ]:
df.qacc.unique()

In [ ]:
df1 = df[df.qacc == 'ASV1'].reset_index(drop = True)

In [ ]:
orden = dict(Counter(df1.Species.tolist()))
orden

In [ ]:
for i in list(reversed(sorted(set(orden.values())))):
    for x in orden:
        if orden[x] == i:
            print(i, x)

In [ ]:
for i in df.qacc.unique():
    df1 = df[df.qacc == i].reset_index(drop = True)
    orden = dict(Counter(df1.Species.tolist()))
    
    k = []
    for v in list(reversed(sorted(set(orden.values())))):
        for x in orden:
            if orden[x] == v:
                k.append([v, x])
                
    print(i, k[0])

### Contra la base de datos 16S_ribosomal_RNA del NCBI

In [ ]:
init = time_ini()
#---------------
subprocess.call('blastn -db DB/16S_ribosomal_RNA -query bacterias.fasta -evalue 1E-6 -outfmt "6 qacc sacc qlen slen length qstart qend sstart send score bitscore evalue pident nident mismatch positive gaps gapopen" -max_target_seqs 1000 -max_hsps 1000 -out resultado2.txt', shell = True)   
#----------------
time_fin(i = init)

In [ ]:
df2 = pd.read_csv('resultado2.txt',sep='\t',names=columna)
df2

In [ ]:
len(df2.sacc), len(df2.sacc.unique())

In [ ]:
subprocess.call('blastdbcmd -db DB/16S_ribosomal_RNA -entry all', shell = True)

In [ ]:
rec = []
for i in df2.sacc.unique()[:5]:
    info10 = subprocess.Popen('blastdbcmd -db DB/16S_ribosomal_RNA -entry ' + i,
                    stdout=subprocess.PIPE, stderr=subprocess.PIPE)
    info100 = info10.communicate()[0].decode()
    rec.append(info100)

In [ ]:
rec